.mat-form-field {
  width: 60%;
  min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

button {
  width: 30%;
  margin-bottom: 5%;
}


.mat-card-content{
  text-align: center;
}

.mat-card{
  margin-top: 3rem;
  height: 300px;
  max-width: 90%;
}

.container-card{
  display: flex;
  justify-content: center;
  height: 40%;
  margin-top: 5%;

}


mat-card-title{
  color:orange;
}


.redirect, .forgot{
  color: orange;
  text-decoration: none;
}
