<div class="container-card">

  <mat-card>
    <mat-card-title>Sign-in</mat-card-title>
       <mat-card-content>
        <form [formGroup]="registerForm" autocomplete="off">
          <!--
          <p>
            <mat-form-field>
              <input matInput type="text" formControlName="name" placeholder="name" #name required/>
             </mat-form-field>
           </p>
-->

          <p>
           <mat-form-field>
             <input matInput type="text" formControlName="email" placeholder="email" #emailSignup required/>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="password"  formControlName="password"  #passwordSignup  required />
              </mat-form-field>
              </p>

           <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="authService.signup(emailSignup.value, passwordSignup.value)">Register</button>




      <div class="redirectToLogin">
        <span>Already have an account? <a class="redirect" routerLink="/sign-in">Log In</a></span>
      </div>

    </form>
  </mat-card-content>
</mat-card>


<!--
<div *ngIf="formStatus === FormStatus.Pending" role="status" class="status-pending">
  Saving profile
</div>

<div *ngIf="formStatus === FormStatus.Success" (click)="closeProfile()" role="status" class="status-success">
  Profile successfully created
</div>


  <div>
  -->
