.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


//change background navbar

.mat-toolbar.mat-primary{
  background-color: #ff9a01;
}

.logo{
  height: 50px;
  margin-top: -60%;
  margin-left: -60%;
}


/*
.link-login {
  display: inline-block;  // login to right of the navbar
  width: 100%; //login to right of the navbar
  text-align: right; //login to right of the navbar
  color: white;
  text-decoration: none;
  text-align: right;
}

.link-logout{
  color: white;
  text-decoration: none;
  text-align: right;
  padding: 5rem;
}
*/

.img{
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  background: -webkit-linear-gradient(right, #ff4dd8, #27bbff, #3dff37, #ff3232);

}


.container{
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.containerTwo{
  display: flex;
  width: 30%;
  justify-content: flex-end;
  text-align: center;
}


p{
  font-size:small;
}


.email-log{
  font-size: medium;
  margin-right: 15px;
  margin-top: 4px;
}


.mat-icon-button{
  font-size: medium;
}

.containerThree{
  display: flex;
  width: 30%;
  justify-content: flex-start;
  text-align: center;
}

.spaceLeft{
  margin-left: 15px;
}



.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.my-home{
  margin-left: 20px;
}
