
  //change layout and color of scroll barr container
  ::-webkit-scrollbar {
    width: 10px;
    overflow-y: scroll;
    background: #faef52;
    box-shadow: inset 0 0 1px #faef5200;
    border-radius: 10px;
}
   //change and color of scroll barr
::-webkit-scrollbar-thumb {
    background: #ff9a01;
    border-radius: 10px;
}

.backgroundColor{
  background-color: #ff9a01 ;
}

  img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2%;
    height: auto;
    max-height: auto !important;
    max-width: 80% !important;
}

.img-container{
  position: relative;
  height: 210px;
}



p{
    text-align: justify;
    margin-right: 15px;
}

h2{
    color: #faef52;
    -webkit-text-stroke: 1.5px red;
    display: flex;
    justify-content: center;
}

b{
  align-self: center;
  max-height: 90px;
}

.container{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  text-align: center;
}

.containerTwo{

  width: 58%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;

}

@media (max-width: 1024px) {
  .container{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    text-align: center;
  }
  .containerTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
 

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}




  // to not touch card to footer
.grid-container{
    margin-bottom: 20px;
  }
  
    //all card container  
    .dashboard-card {
      text-align: center;
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 0 !important;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 5px;
    }
    
  
    //content of text card 
    .dashboard-card-content {
      height: 100%;
      padding-bottom: 5%;
    }


    .md-dialog-container {
        width: 250px;
        height: 250px
  }


  .justify-text-description{
      display: flex;
      justify-content: space-between;
      text-align: left !important;
      flex-wrap: wrap;
      height: 220px;
      
  }


  .justify-text-description ul{
    margin: 0  !important;
    padding-left: 20px;
  }




  .justify-text-description li{
    padding-bottom: 10px;
  }


  .column{
      position: relative;
      display: flex;
  }


  ul {
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  li {
    width: 100%;
    margin-right: 100%;

  }

  @media only screen and (max-width: 600px) {
  ul {
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  li {
    width: 100%;
  }
}