<!--definition grid container-->
<div class="grid-container" style="margin-top: 20px;" >
  <!--grid with mobile definition cols. In mobile 1 cols, in desktop version 5 cols. and fix row heigth-->
    <mat-grid-list [cols]="isMobile ? 1 : 5" rowHeight="370px" >
      <!--ng-container implemets ngfor for data (categories of food) and isn't connected to html tag (not burdens to html layout)-->
      <div *ngIf="!results">
      <mat-spinner class="spinner"></mat-spinner>
      </div>
      <div *ngIf="results">
        <ng-container *ngFor="let category of results.categories">
          <!--ng for for all type of cards definited in home.compnent.ts-->
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
        <!--generate card-->    
        <mat-card class="dashboard-card">
          <!--style overflow insert the scrollbarr and style height define the scrollbar height-->
          <mat-card-content class="dashboard-card-content">
            <!--content of card: title, img, description and botton detail-->
            <mat-card-title class="center">
              <h2><b>{{category.strCategory}}</b></h2>
            </mat-card-title>            
                <img mat-card-lg-image  [src]="category.strCategoryThumb">
                <div class="justify-text-description">
                {{category.strCategoryDescription}}
              </div>
              <mat-card-footer>
              <button mat-raised-button color="warn" [routerLink]="['/category-detail', category.strCategory]">Detail</button>
            </mat-card-footer>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container >
  </div>
    </mat-grid-list>

</div>
