.mat-form-field {
  width: 60%;
  min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

button {
  width: 50%;
  margin-bottom: 5%;
}


.mat-card-content{
  text-align: center;
}

.mat-card{
  margin-top: 3rem;

}

.container-card{
  display: flex;
  justify-content: center;
  height: 40%;
  margin-top: 5%;

}


.container-link{

}


mat-card-title{
  color:orange;
}


.redirect, .forgot{
  color: orange;
  text-decoration: none;
}
