<div class="container-card">

        <mat-card>
          <mat-card-title>Login</mat-card-title>
             <mat-card-content>
              <form [formGroup]="loginForm" autocomplete="off">
                <p>
                 <mat-form-field>
                   <input
                   matInput
                   type="text"
                   formControlName="email"
                   placeholder="email"
                    #email
                    required
                  />
                  </mat-form-field>
                 </p>
                  <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.hasError('required')" class="error">
                    {{ emailError }}
                  </div>

                <p>
                  <mat-form-field>
                    <input
                      type="password"
                      matInput
                      placeholder="Password"
                      formControlName="password"
                      #password
                      required
                    />
                    </mat-form-field>
                    </p>
                    <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.hasError('required')" class="error">
                   {{ passwordError }}
                     </div>

        <!-- Calling SignIn Api from AuthService -->
         <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="authService.signin(email.value, password.value)">Login</button>




   <div class="container-link">
        <div class="forgotPassword">
          <a class="forgot" routerLink="/forgot-password">Forgot Password?</a>
        </div>


      <div class="redirectToLogin">
        <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
      </div>
    </div>
  </form>
    </mat-card-content>
  </mat-card>
</div>







